@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#animation{
  width: 85%;
}
body{
  width: 100%;
  height: 100vh;
  background-image: url(./images/covid1.jfif);
  background-size: contain;
  background-position: center;
  background-color: rgba(0, 0, 0, .7);
  background-blend-mode: multiply;
}
.title-area{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.enter{
  position: relative;
}
.title-area h1{
  color: #fff;
  letter-spacing: 5px;
  font-size: 3rem;
  font-family: 'Comfortaa', cursive;
}
.title-area span{
  letter-spacing: 0;
}
#flag{
  width: 50px;
  margin-left: 10px;
}
#country-group{
  display: flex;
  align-items: center;
}
.enter{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.title-area .enter input{
  width: 500px;
  height: 40px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 10px;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  border: 1px solid #fff;
}
input::placeholder{
  color: rgb(143, 143, 143);
}
.title-area .enter button{
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.2rem;
  margin-left: -8%;
}

/*  */
.show-area{
  position: absolute;
  bottom: 5%;
  width: 100%;
  height: 40vh;
}
.show-area .card-group{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4,1fr);
}
.card{
  background-color: #222;
  text-align: center;
  padding: 15%;
  margin: 5%;
}
.card i{
  margin-bottom: 20px;
  font-size: 3rem;
  color: #fff;
}
.card h4{
  color: #fff;
  margin-bottom: 20% ;
}
.card span{
  font-size: 3rem;
  color: #fff;
  letter-spacing: 3px;
}
.card:nth-child(2) i{
  color: rgb(143, 49, 49);
}

/*  */
#no-found{
  color: #fff;
  font-size: 2.5rem;
  z-index: 1;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
}

.show{
  display: block !important;
}
.hide{
  display: none !important;
}

@media(max-width:1200px){
  .show-area .card-group{
    grid-template-columns: repeat(2,1fr);
  }
  #no-found{
    color: #fff;
    font-size: 2rem;
  }
}
@media(max-width:800px){
  .show-area .card-group{
    grid-template-columns: repeat(1,1fr);
  }
  .title-area h1{
    letter-spacing: 1px;
    font-size: 2rem;
  }
  .title-area .enter input{
    width: 400px;
    height: 40px;
    padding: 10px;
    font-size: .8rem;
  }
  .title-area .enter button{
    color: #fff;
    margin-left: -10%;
  }
  #no-found{
    color: #fff;
    font-size: 1.5rem;
  }
  .card{
    padding: 10%;
    margin: 8%;
  }
  .title-area .enter button{
    margin-left: -12%;
  }
}
@media(max-width:600px){
  #country-group{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #flag{
    width: 50px;
    margin-left: 0px;
  }
  .title-area h1{
    letter-spacing: 1px;
    font-size: 2rem;
  }
  .title-area .enter input{
    width: 280px;
    height: 40px;
    padding: 10px;
    font-size: .8rem;
  }
  #no-found{
    color: #fff;
    width: 70%;
    font-size: 1rem;
  }
  .card span{
    font-size: 2rem;
    letter-spacing: 2px;
  }
}


